body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  overflow: hidden; /* Hide overflow to prevent scrollbars */
}

canvas {
  position: absolute;
  top: 0;
  left: 0;
}

header {
  background-color: #f2f2f2;
  padding: 20px;
  text-align: center;
}

h1 {
  margin: 0;
}

nav {
  background-color: #ffffff; /* Set background color to white */
  padding: 10px;
}

/* Updated styles for LinkedIn button */
button.linkedin-button {
  display: flex;
  align-items: center;
  width: 100%;
  margin-bottom: 10px;
  padding: 15px;
  font-size: 16px;
  background-color: #0e76a8; /* Updated color */
  color: white;
  border: none;
  cursor: pointer;
  text-decoration: none; /* Remove underline for linked buttons */
}

button.linkedin-button:hover {
  background-color: #075985; /* Darker shade on hover */
}

/* Updated styles for GitHub button */
button.github-button {
  display: flex;
  align-items: center;
  width: 100%;
  margin-bottom: 10px;
  padding: 15px;
  font-size: 16px;
  background-color: lightgray; /* Updated color */
  color: #333; /* Updated text color */
  border: none;
  cursor: pointer;
}

button.github-button:hover {
  background-color: #ccc; /* Darker shade on hover */
}

.resume-button {
  display: block;
  width: 40%;
  margin: 20px auto;
  padding: 15px;
  font-size: 16px;
  background-color: #000;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 10px; /* Add rounded corners */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Add a subtle box shadow for a technological look */
}

.resume-button:hover {
  background-color: #333;
}

/* Adjusting the icon styles */
button i,
a i {
  margin-right: 10px;
}

/* Updated styles for the icon */
.icon {
  width: 20px; /* Adjust the width as needed */
  height: auto; /* Maintain aspect ratio */
  margin-right: 5px; /* Add space to the right of the icon */
}

a.linkedin-button,
a.github-button {
  display: flex;
  align-items: center;
  text-decoration: none; /* Remove underline for linked buttons */
  color: #ffffff; /* Set text color */
}

a.linkedin-button:hover,
a.github-button:hover {
  background-color: #075985; /* Darker shade on hover */
}

main {
  background-color: #ffffff; /* Set background color to white */
  padding: 20px;
}
