body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background-color: #f2f2f2;
  padding: 20px;
  text-align: center;
}

h1 {
  margin: 0;
}

nav {
  background-color: #e0e0e0;
  padding: 10px;
}

/* Updated styles for LinkedIn button */
button.linkedin-button {
  display: flex;
  align-items: center;
  width: 100%;
  margin-bottom: 10px;
  padding: 15px;
  font-size: 16px;
  background-color: #0e76a8; /* Updated color */
  color: white;
  border: none;
  cursor: pointer;
}

button.linkedin-button:hover {
  background-color: #075985; /* Darker shade on hover */
}

/* Updated styles for GitHub button */
button.github-button {
  display: flex;
  align-items: center;
  width: 100%;
  margin-bottom: 10px;
  padding: 15px;
  font-size: 16px;
  background-color: lightgray; /* Updated color */
  color: #333; /* Updated text color */
  border: none;
  cursor: pointer;
}

button.github-button:hover {
  background-color: #ccc; /* Darker shade on hover */
}

.resume-button {
  display: block;
  width: 80%; /* Reducing the width */
  margin: 20px auto; /* Center the button */
  padding: 15px;
  font-size: 16px;
  background-color: #000;
  color: white;
  border: none;
  cursor: pointer;
}

.resume-button:hover {
  background-color: #333;
}

/* Adjusting the icon styles */
button i {
  margin-right: 10px;
}

/* Updated styles for the icon */
.icon {
  width: 20px; /* Adjust the width as needed */
  height: auto; /* Maintain aspect ratio */
  margin-right: 5px; /* Add space to the right of the icon */
}
