body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background-color: #f2f2f2;
  padding: 20px;
  text-align: center;
}

h1 {
  margin: 0;
}

nav {
  background-color: #e0e0e0;
  padding: 10px;
}

button,
a {
  display: flex;
  align-items: center;
  width: 100%;
  margin-bottom: 10px;
  padding: 15px;
  font-size: 16px;
  background-color: #4caf50;
  color: white;
  border: none;
  cursor: pointer;
  text-decoration: none; /* Remove underline for linked buttons */
}

button:hover,
a:hover {
  background-color: #45a049;
}

.resume-button {
  display: block;
  width: 80%;
  margin: 20px auto;
  padding: 15px;
  font-size: 16px;
  background-color: #000;
  color: white;
  border: none;
  cursor: pointer;
}

.resume-button:hover {
  background-color: #333;
}

/* Adjusting the icon styles */
button i,
a i {
  margin-right: 10px;
}
